/* CSS HEX
--slate-gray: #58788cff;
--light-cyan: #dcf2f0ff;
--arylide-yellow: #d9c66aff;
--light-french-beige: #bfa473ff;
--rosy-brown: #bf8c80ff;

//Alt pallet?
#2A2438
#352F44
#5C5470
#DBD8E3



/* SCSS Gradient */

/* $gradient-top: linear-gradient(0deg, #58788cff, #dcf2f0ff, #d9c66aff, #bfa473ff, #bf8c80ff);
$gradient-right: linear-gradient(90deg, #58788cff, #dcf2f0ff, #d9c66aff, #bfa473ff, #bf8c80ff);
$gradient-bottom: linear-gradient(180deg, #58788cff, #dcf2f0ff, #d9c66aff, #bfa473ff, #bf8c80ff);
$gradient-left: linear-gradient(270deg, #58788cff, #dcf2f0ff, #d9c66aff, #bfa473ff, #bf8c80ff);
$gradient-top-right: linear-gradient(45deg, #58788cff, #dcf2f0ff, #d9c66aff, #bfa473ff, #bf8c80ff);
$gradient-bottom-right: linear-gradient(135deg, #58788cff, #dcf2f0ff, #d9c66aff, #bfa473ff, #bf8c80ff);
$gradient-top-left: linear-gradient(225deg, #58788cff, #dcf2f0ff, #d9c66aff, #bfa473ff, #bf8c80ff);
$gradient-bottom-left: linear-gradient(315deg, #58788cff, #dcf2f0ff, #d9c66aff, #bfa473ff, #bf8c80ff);
$gradient-radial: radial-gradient(#58788cff, #dcf2f0ff, #d9c66aff, #bfa473ff, #bf8c80ff); */

@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px black solid; */
}

:root {
  --nav-color: #58788cff;
  --main-color: #dcf2f0ff;
  --secondary-color: #d9c66aff;
  --accent-color: #bf8c80ff;
  --extra-color: #bfa473ff;
  --text-color: rgb(250, 250, 250);
}

.waves{
    position: absolute;
    z-index: -1;
}

body {
  font-family: "Prompt", sans-serif;
  color: black;
  line-height: 1.8;
  background-color: var(--main-color);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h1 h2 {
  font-weight: 300;
  line-height: 1.2;
  margin-top: 15px 0px;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.navbar {
  background-color: var(--nav-color);
  color: var(--text-color);
  height: 70px;
}

.logo {
  white-space: nowrap;
}

.navbar ul {
  display: flex;
  padding: 10;
  margin: 0 5px;
}

.navbar a {
  padding: 10px;
  margin: 0 5px;
  font-size: 24px;
}

.navbar a:hover {
  border-bottom: 4px var(--text-color) solid;
}

.pageContainer {
  max-width: 1300px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* .flexSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
} */

.flexSection {
  display: flex;
  height: 500px;
}

.child {
  width: 37.5em;
  height: 400px; 
  margin: auto; 
}

.aboutMe {
  max-width: 1300px;
  margin: 0 auto;
  overflow: auto;
  padding: 100px 40px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.aboutHeader {
  font-size: 4em;
}

.aboutText {
  width: 700px;
  padding-right: 50px;
  font-size: 1.5em;
  line-height: normal;
}

.imgStyle {
  width: 350px;
}

.profilePic {
  border-radius: 50%;
  box-shadow: 0 3px 10px;
  padding: 5px;
  background-color: var(--main-color);
}

.siteScreenShot {
  width: 100%;
  border-radius: 2%;
  box-shadow: 0 3px 10px;
}

.projects {
  flex-wrap: wrap-reverse;
  max-width: 1300px;
  margin: 0 auto;
  height: 60vh;
}

.projectHeader {
  font-size: 2em;
}

.projectText {
  width: 50%;
  font-size: 1.2em;
  line-height: normal;
  display: inline;
}
